# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ORCUS_LEFT
    def_bool $(shields_list_contains,orcus_left)

config SHIELD_ORCUS_RIGHT
    def_bool $(shields_list_contains,orcus_right)
