# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ORCUS_LEFT

config ZMK_KEYBOARD_NAME
    default "ORCUS"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ORCUS_LEFT || SHIELD_ORCUS_RIGHT

config ZMK_SPLIT
    default y

endif
