/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "orcus.dtsi"

&default_transform {
    col-offset = <5>;
};

&kscan0 {
    col-gpios
        = <&xiao_d 6  GPIO_ACTIVE_HIGH>
        , <&xiao_d 7  GPIO_ACTIVE_HIGH>
        , <&xiao_d 8 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9  GPIO_ACTIVE_HIGH>
        , <&xiao_d 10 GPIO_ACTIVE_HIGH>
        ;
};

/ {
    chosen {
        zmk,underglow = &rgb_led;
    };

    rgb_led: rgb_led {
        compatible = "worldsemi,ws2812-strip";
        gpios = <&xiao_d 1 GPIO_ACTIVE_HIGH>; // <--- Ensure your actual GPIO pin is here
        chain-length = <1>;
        label = "RIGHT_UNDERGLOW";
    };
};
