/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "orcus.dtsi"

/ { // The root node is often implicitly added by `include`, but being explicit is good
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row"; // IMPORTANT: Verify this with your actual diode direction

        // *** THESE PINS MUST BE UNIQUE TO EACH OTHER ON THIS HALF ***
        row-gpios
            = <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
        col-gpios
            = <&xiao_d 6  GPIO_ACTIVE_HIGH>
            , <&xiao_d 7  GPIO_ACTIVE_HIGH>
            , <&xiao_d 8  GPIO_ACTIVE_HIGH>
            , <&xiao_d 9  GPIO_ACTIVE_HIGH>
            , <&xiao_d 10 GPIO_ACTIVE_HIGH>
            ;
    };
};